In [1]:
# Read CSV File into dataframe
import pandas as pd
df = pd.read_csv("Vine_table.csv")
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RMDCHWD0Y5OZ9,3.0,0.0,1.0,N,N
1,RZSL0BALIYUNU,5.0,0.0,0.0,N,Y
2,RIZR67JKUDBI0,3.0,0.0,1.0,N,Y
3,R27HL570VNL85F,5.0,0.0,0.0,N,Y
4,R34EBU9QDWJ1GD,5.0,0.0,0.0,N,Y

In [15]:
# Filter dataframe to show total_votes greater than or equal to 20
df1 =df[df['total_votes']>=20]
df1.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y
1140,R36V6V42VN5AS5,5.0,34.0,37.0,N,Y
1646,R27LZWE27BJPOB,5.0,22.0,23.0,N,N
1777,RMRD6SMF2AUQ,3.0,4.0,21.0,N,N
1891,RMPCXKWX3T57Y,1.0,1.0,73.0,N,N
2261,R1P7GJ0IN2BRNH,5.0,37.0,37.0,N,Y
2340,R2R6JPF9KOD2HJ,5.0,19.0,20.0,N,Y
2456,R3JM8Z4SP9N3H2,1.0,4.0,23.0,N,N
2850,R2J0ZZGFXKM8KR,2.0,21.0,22.0,N,Y
3312,R238ZSG6TSUBNX,5.0,27.0,27.0,N,Y
3321,R37WGVXA94D62S,2.0,4.0,20.0,N,Y
3327,RC6Y8GYIQZ8YU,3.0,72.0,85.0,N,Y
3333,RFL3TJED8C240,5.0,13.0,24.0,N,N
3646,R3D4P7A8Q1C70F,5.0,22.0,27.0,N,Y
3719,R3PRNAQVQBB9M6,1.0,21.0,30.0,N,Y
3720,R2NTTIW5KBKLYG,5.0,19.0,20.0,N,N

In [19]:
# Filter dataframe so that the helpful votes divided by total_votes is greater than or equal to 50%
df2 = df1[(df1["helpful_votes"])/(df1["total_votes"])>=0.5]
df2.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y
1140,R36V6V42VN5AS5,5.0,34.0,37.0,N,Y
1646,R27LZWE27BJPOB,5.0,22.0,23.0,N,N
2261,R1P7GJ0IN2BRNH,5.0,37.0,37.0,N,Y
2340,R2R6JPF9KOD2HJ,5.0,19.0,20.0,N,Y
2850,R2J0ZZGFXKM8KR,2.0,21.0,22.0,N,Y
3312,R238ZSG6TSUBNX,5.0,27.0,27.0,N,Y
3327,RC6Y8GYIQZ8YU,3.0,72.0,85.0,N,Y
3333,RFL3TJED8C240,5.0,13.0,24.0,N,N
3646,R3D4P7A8Q1C70F,5.0,22.0,27.0,N,Y
3719,R3PRNAQVQBB9M6,1.0,21.0,30.0,N,Y
3720,R2NTTIW5KBKLYG,5.0,19.0,20.0,N,N
3768,R3JNDLZ3KACRLG,5.0,29.0,33.0,N,N
3776,R1PVVYYY0Q1HZ0,5.0,21.0,21.0,N,Y
4229,R1R9RU7JW0MFR2,4.0,20.0,23.0,Y,N
4841,R1G9N0CW2982PA,5.0,21.0,24.0,N,Y

In [17]:
# Create new dataframe for paid purchases
paid_df = df2[df2["vine"]=='Y']
paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4229,R1R9RU7JW0MFR2,4.0,20.0,23.0,Y,N
9120,R19EFYNN3W8Q07,5.0,26.0,32.0,Y,N
34704,R34DJ1R8AEU0SG,5.0,29.0,35.0,Y,N
38510,R25P5CXK5L9RHF,5.0,146.0,161.0,Y,N
49330,R2E9VZB3I4LSN5,5.0,55.0,59.0,Y,N

In [18]:
# Create new dataframe for unpaid purchases
unpaid_df = df2[df2["vine"]=='N']
unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [26]:
# Total number of reviews, paid
paid_reviews = paid_df['review_id'].count()
paid_reviews

60

In [32]:
# Total number of five-star reviews, paid
paid_five_star = paid_df['star_rating'][paid_df['star_rating']==5.0].count()
paid_five_star

34

In [33]:
paid_five_star_percent = (paid_five_star/paid_reviews)*100
paid_five_star_percent

56.666666666666664

In [34]:
# Total number of reviews, unpaid
unpaid_reviews = unpaid_df['review_id'].count()
unpaid_reviews

14477

In [35]:
unpaid_five_star = unpaid_df['star_rating'][unpaid_df['star_rating']==5.0].count()
unpaid_five_star

8212

In [36]:
unpaid_five_star_percent = (unpaid_five_star/unpaid_reviews)*100
unpaid_five_star_percent

56.72445948746287